* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0; 

  font-family: "Lucida Grande", "Segoe UI", Ubuntu, Cantarell, Arial, sans-serif;
}

#container {
  min-width: 500px;
  width: 100%;

  height: 100%;
}

#header {
  background-color: #19150F;
  color: white;
  height: 80px;
  padding-top: 30px;
  text-align: center;
}

a {
  color: #B0BEC5;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #607D8B;
}

#main {
  width: 100%;
  position: relative;
  left: 500px;
  padding: 20px;
}

#nav-root {
  float: left;
  width: 100px;
  margin-top: 25px;
  position: relative;
  left: 0;
  transition: all 1s ease;
}

#nav-first {
  float: left;
  width: 250px;
  margin-top: 25px;
}

ul li {
  margin-bottom: 15px
}

ul {
  list-style: none;
  padding: 0;
}

#team-menu {
  opacity: 0;
  position: relative;
  left: 100px;
  transition: all 1s ease;
}

#project-menu {
  opacity: 0;
  position: relative;
  left: 100px;
  transition: all 1s ease;
}

#other-menu {
  display: none;
  position: relative;
  opacity: 0;
  transition: all 1s ease;
}